
<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <style>
        
        form.example input[type=text] {
          padding: 10px;
          font-size: 17px;
          border: 1px solid grey;
          float: left;
          width: 80%;
          background: #f1f1f1;
        }
        
        form.example button {
          float: left;
          width: 20%;
          padding: 10px;
          background: #2196F3;
          color: white;
          font-size: 17px;
          border: 1px solid grey;
          border-left: none;
          cursor: pointer;
        }
        
        form.example button:hover {
          background: #0b7dda;
        }
        
        form.example::after {
          content: "";
          clear: both;
          display: table;
        }
        </style>


    <nav class="navbar navbar-dark bg-dark mb-4">
        <a href="/" class="="navbar-brand>Clientes </a>
    </nav>
    <form class="example" action="/buscador" method="GET">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </br>
    <div class="container" style="margin-left: 2%;">
        <div class="row">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="POST">
                                <div class="form-group">
                                    <input type="text" name="Address" class="form-control" placeholder="Address">
                                </div>
                                <div class="form-group">
                                <input type="text" name="City" class="form-control" placeholder="City">
                                </div>
  
                                <div class="form-group">
                                    <input type="text" name="Country" class="form-control" placeholder="Country">
                                    </div>

                                <div class="form-group">
                                    <input type="text" name="District" class="form-control" placeholder="District">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="FirstName" class="form-control" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="LastName" class="form-control" placeholder=" Last Name">
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-block">Add</button>
            
                            </div>
                        </form>

                    </div>
                </div>
          

            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                        <th>_id</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>District</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Operaciones</th>
                    </tr>

                  </thead>
                  <tbody>
                   <% for(var i = 0 ; i<cliente.length ; i++){%>
                  <tr>
                    
                    <td> <%= cliente[i]._id %></td>
                    <td> <%= cliente[i].Address %></td>
                    <td> <%= cliente[i].City %></td>
                    <td> <%= cliente[i].Country %></td>
                    <td> <%= cliente[i].District %></td>
                    <td> <%= cliente[i].FirstName %></td>
                    <td> <%= cliente[i].LastName %></td>
                    <td> 
                        <a href="/turn/<%= cliente[i]._id %>" class="btn <%= cliente[i].status ? 'btn-success' : 'btn-dark' %>">Status</a>
                        <a href="/delete/<%= cliente[i]._id %>" class="btn btn-danger">DELETE</a>
                        <a href="/update/<%= cliente[i]._id %>" class="btn btn-primary">Update</a>
                    </td>
                </tr>
                    <% } %>
                  </tbody>

                </table>

            </div>
            </div>
        </div>
    </div>
    
   
</body>
</html>